* {
    box-sizing: border-box;
}

html {
    background-image: url('../assets/Forene_Map.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    grid-column: 1 / 7;
    display: grid;
    grid-template-areas: 'logo title title title title title title title' 'logo nav nav nav nav nav nav nav';
    justify-content: left;
    font-weight: bold;
    height: 120px;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-bottom: 2px inset brown;
    background-image: linear-gradient(to right, rgb(216, 175, 128), rgba(216, 175, 128, 0.5), rgba(216, 175, 128, 0.1)), url('../assets/banner.jpg');
}

.mobile-dropdown {
    display: none;
}

.world-name {
    grid-area: title;
    grid-column: 2 / 9;
    font-size: 1.75em;
    margin: 0 0 0 0;
    padding-top: 2%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.wiki-site-wrapper {
    margin-top: 5%;
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav' 'left left left left left right';
    grid-gap: 0;
    height: 90%;
    background-color: rgba(255, 235, 212, 0.85);
}

body {
    margin: 0 0 20px 0;
}

main {
    width: 65%;
    margin: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

header {
    background-color: #a52a2a;
    padding: 10px 0 10px 0;
    margin: 0 0 3rem 0;
}

footer {
    background-color: rgba(255, 235, 212, 0.85);
    padding: 10px;
    display: flex;
}

footer article {
    border: 3px outset brown;
}



div.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

div.dropdown a {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    color: black;
    padding: 5px;
    background-color: rgba(255, 215, 170);
    border: 3px outset brown;
    text-decoration: none;
}

div.dropdown a:hover {
    background-color: #a78861;
    border: 3px inset rgb(165, 42, 4);
}

div.dropdown .dropdown-content {
    display: none;
    height: 0px;
    position: absolute;
    z-index: 1;
}

div.dropdown:hover .dropdown-content {
    display: block;
}

div.dropdown-content a {
    font-size: small;
    text-align: center;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 3px outset rgb(165, 42, 4);
}

#menu-bars {
    display: none;
}



.page-title {
    grid-column: 1 / 7;
    text-align: left;
    margin: 2.5%;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.page-header-separator {
    grid-column: 1 / 7;
    margin-bottom: 0;
    padding-left: 2%;
    background-color: black;
    width: 95%;
}

.logo {
    grid-row: 1 / 3;
    padding: 5px;
    margin: auto;
    width: 100%;
}



.main-page-left .article-title {
    text-align: left;
    padding: 3px;
    width: 97%;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2.5px double rgba(165, 42, 42, 0.4);
}

#pantheons {
    margin: 5% auto 5% auto;
    width: 95%;
    border: 1px double black;
    border-collapse: collapse;
}

#pantheons th.gods-owners {
    max-width: min-content;
    background-color: #697219;
}

#pantheons th {
    border-bottom: 1px double black;
    background-color: #7a2020bb;
    font-size: 20px;
}

#pantheons td {
    padding: 1%;
    font-size: 16px;
}

#pantheons tr:nth-child(even) {
    background-color: rgba(127, 165, 55, 0.486);
}

#pantheons tr:nth-child(odd) {
    background-color: rgba(151, 104, 66, 0.486);
}

#geo-by-race {
    margin: auto;
    margin-bottom: 3%;
    width: 80%;
    border: 1px double black;
    border-collapse: collapse;
}

th {
    border-bottom: 1px double black;
    background-color: rgba(0, 0, 0, 0.26);
}

th, td {
    border-left: 1px double black;
    padding: 6px;
    text-align: center;
}

td {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px double black;
    background-color: rgba(175, 175, 175, 0.2);
}

table a {
    text-decoration: none;
    color: black;
}

table a:hover {
    color: #a52a2a;
}

div.subtitle {
    font-size: 16px;
    font-style: oblique;
    text-align: justify;
    width: 75%;
    margin: 5px;
}

.creatures-l, .creatures-r {
    width: 50%;
    float: left;
}





.links {
    display: flex;
    flex-direction: column;
}

.links a {
    margin: 10% auto 5% auto;
}



#read-more {
    color: #a52a2a;
    text-decoration: underline;
}

#read-more:hover {
    color: rgba(0, 0, 0, 0.8);
}

#featured-image {
    align-content: center;
}

#featured-image img {
    border: 5px double black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#featured-image figcaption {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    margin-top: 5px;
}

#home-news-headline {
    text-align: center;
    margin: auto;
}

/** Phone and Tablet Screen Styling **/

@media (max-width: 1180px) {
    nav {
        grid-template-areas: 'title title title title title title title title' 'nav nav nav nav nav nav nav nav';
        justify-content: center;
        background-image: linear-gradient(to right, rgb(216, 175, 128), rgba(216, 175, 128, 0.5), rgba(216, 175, 128, 0.1)), url('assets/banner.jpg');
    }
    h1.header {
        padding: 0;
        margin-top: 20px;
        grid-column: 1/4;
        grid-area: title;
    }
    .logo {
        display: none;
    }

}

@media (max-width: 1024px) {
    h1.header {
        padding: 0;
        margin: 10px;
        text-align: left;
        width: 70%;
    }
    .download-button {
        box-shadow: none;
    }
    .download-button a {
        font-size: 18px;
    }
    #menu-button {
        display: none;
    }
    #menu-bars {
        display: block;
        align-self: flex-end;
    }
    #menu-bars .responsive {
        width: 40px;
        height: 40px;
    }
    #menu-bars img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mobile-dropdown {
        width: fit-content;
        transform: translateX(-50px);
    }
    .mobile-dropdown a {
        text-align: right;
    }
    .main-page-left {
        grid-column: 1/7;
        justify-content: center;
        width: 100%;
        padding-right: 15px;
    }
    .main-page-right {
        display: none;
    }
    .main-page-left .article-title {
        width: 100%;
        margin-right: 0;
    }
    .page-title {
        margin-top: 85px;
    }
    header {
        display: none;
    }
    nav {
        background-image: linear-gradient(to right, rgba(216, 175, 128, 0.7), rgba(216, 175, 128, 0)), linear-gradient(to left, rgba(216, 175, 128, 0.4), rgba(216, 175, 128, 0)), url('assets/banner.jpg');
        display: flex;
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0px 10px 10px 10px;
    }
    main, footer {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    body {
        margin: 0;
    }
    html {
        background-color: rgba(255, 235, 212);
        background-image: none;
    }
}

@media (max-width: 708px) {
    .article-pic-left, .article-pic-right {
        display: none;
    }
    footer {
        flex-direction: column;
    }
    .links {
        flex-direction: row;
    }
    .bottom-l, .bottom-m, .bottom-r {
        width: 100%;
        height: fit-content;
        background-image: none;
        background-color: rgba(207, 190, 171, 0.5);
    }
    .bottom-m {
        padding-bottom: 15%;
    }
    .top-button {
        margin-top: auto;
    }
}

@media (max-width: 600px) {
    nav {
        background-image: linear-gradient(to right, rgba(216, 175, 128, 0.4), rgba(216, 175, 128, 0)), linear-gradient(to left, rgba(216, 175, 128, 0.4), rgba(216, 175, 128, 0)), url('assets/banner.jpg');
    }
}

@media (max-width: 426px) {
    .bottom-l, .bottom-m {
        width: 100%;
        height: fit-content;
        background-image: linear-gradient(to bottom, rgba(255, 235, 212, 0.8), rgba(255, 235, 212, 0.2), rgba(255, 235, 212, 0.1)), url('assets/river_mountains.jpeg');
        background-color: rgba(255, 255, 255, 0);
    }
}