$nav-gradient: linear-gradient(to right, rgb(216, 175, 128), rgba(216, 175, 128, 0.5), rgba(216, 175, 128, 0.1)), url('/assets/banner.jpg');
$html-background: url("/assets/Forene_Map.png");
$background-color: rgba(255, 235, 212, 0.85);
$button-color:  rgb(255, 215, 170);
$button-hover-color: rgb(167, 136, 97);
